body {
    display: flex;
    flex-direction: column;
    height:100vh;
    margin: 0;
    background-color: rgb(157, 59, 18);
    align-items: center;
    justify-content: center;
}

.winner{
    visibility: hidden;
    margin-top: 20px;
    display: flex;
    width: 50%;
    font-size: 54px;
    align-items: center;
    justify-content: center; 
}

.header {
    margin-top: 35px;
    display: flex;
    width: 100%;
    font-size: 54px;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 20px;
}

.header .player1, 
.header .player2 {
    flex: 1;
    display: flex;
    justify-content: center; 
}


.header .replay {
    visibility: hidden;
    background-color: #ddd;
    height: 54px;
    border-radius: 8px;
    padding: 0 20px;
    font-size: 18px;
    cursor: pointer;
}

#board {
    margin: auto;
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    /* box-sizing: border-box; */
    justify-content: center;
    align-items: center;

    gap: 4px;
}

#board div {
    display: grid;
    /* box-sizing: border-box; */
    height: 100%;
    width: 100%;
    border: 4px solid #ddd; 
    align-items: center;
    justify-content: center;
}

#board .letr,
#board .num {
    border: none;
    font-size: 50px;
}

#board .cell {
    font-size: 30px;
}

#board .cell:hover{
    background-color: #ddd;
    cursor: pointer;
}

